.App {
  text-align: center;
}

.App-header {
  background: linear-gradient(135deg, #D8B2F2 0%, #FFB3D9 50%, #B3D9FF 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}